<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MyListActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".yc.YCActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".anim.AnimActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".recyclerview.RecycleActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".tablayout.TabLayoutActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.demo.gesturelock.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".schedule.ScheduleManageActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.demo.gesturelock.LockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.gesturelock.LockSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.scroll.ScrollActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.demo.fragment.MainFragmentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.demo.dialog.DialogActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.demo.anim.shared_element.SharedElement2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.anim.shared_element.SharedElement1Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".anim.explode.ExplodeAnimActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".anim.plus.PlusActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".canvas.ClockActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.demo.pull.PullActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.demo.pinnedheaderlistView.PinnedMainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.demo.canvas.CircleActivity"></activity>


        <activity
            android:name="com.demo.swiperefresh.AppointsTodayListActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.demo.bridge.BridgeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.demo.imageview.CustomImageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.demo.crop.CropActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name="com.soundcloud.android.crop.MyCropImageActivity" />
        <activity android:name="com.demo.badgeview.TabActivity"></activity>
        <activity android:name="com.demo.scrollview.ScrollViewActivity"></activity>
        <activity android:name="com.demo.bezier.BezierActivity"></activity>
        <activity android:name="com.demo.bezier.Bezier2Activity"></activity>
        <activity android:name="com.demo.canvas.CanvasSaveLayerActivity"></activity>
        <activity android:name="com.demo.permission.PermissionActivity"></activity>
        <activity android:name="com.demo.scrollview.MyScrollViewActivity">

        </activity>
        <activity android:name=".imageview.BubbleActivity">

        </activity>
        <activity android:name=".viewpager.MyViewPagerActivity">

        </activity>
        <activity android:name=".rounder.RoundActivity">

        </activity>
        <activity android:name=".transitionanimator.MessageActivity">

        </activity>
        <activity android:name=".transitionanimator.MyTransitionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".transitionanimator.feed.FeedListActivity"></activity>
        <activity android:name=".transitionanimator.feed.FeedDetailActivity"></activity>
        <activity android:name=".shortcut.ShortCutActivity">

        </activity>
    </application>

</manifest>
